.absolute {
  position: absolute;
}
.acenter {
  text-align: center;
}
.ajustify {
  text-align: justify;
}
.aleft {
  text-align: left;
}
.aright {
  text-align: right;
}
.bold {
  font-weight: bold;
}
.clear {
  clear: both;
}
.fixed {
  position: fixed;
}
.fleft {
  float: left;
}
.fnone {
  float: none;
}
.fright {
  float: right;
}
.h100 {
  height: 100%;
}
.noborder {
  border: none;
}
.nomargin {
  margin: 0;
}
.nopadding {
  padding: 0;
}
.notoutline {
  outline: none;
  border: none;
}
.notoutline:active,
.notoutline:focus {
  outline: none;
}
.relative {
  position: relative;
}
.unvisible {
  display: none;
}
.upper {
  text-transform: uppercase;
}
.w100 {
  width: 100%;
}
@font-face {
  font-family: 'PlumbBold';
  src: url('../fonts/PlumbBold/Plumb-Bold.eot');
  src: url('../fonts/PlumbBold/Plumb-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/PlumbBold/Plumb-Bold.woff2') format('woff2'), url('../fonts/PlumbBold/Plumb-Bold.woff') format('woff'), url('../fonts/PlumbBold/Plumb-Bold.ttf') format('truetype'), url('../fonts/PlumbBold/Plumb-Bold.svg#Plumb-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PlumbBlack';
  src: url('../fonts/PlumbBlack/Plumb-Black.eot');
  src: url('../fonts/PlumbBlack/Plumb-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/PlumbBlack/Plumb-Black.woff2') format('woff2'), url('../fonts/PlumbBlack/Plumb-Black.woff') format('woff'), url('../fonts/PlumbBlack/Plumb-Black.ttf') format('truetype'), url('../fonts/PlumbBlack/Plumb-Black.svg#Plumb-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'PlumbMedium';
  src: url('../fonts/PlumbMedium/Plumb-Medium.eot');
  src: url('../fonts/PlumbMedium/Plumb-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/PlumbMedium/Plumb-Medium.woff2') format('woff2'), url('../fonts/PlumbMedium/Plumb-Medium.woff') format('woff'), url('../fonts/PlumbMedium/Plumb-Medium.ttf') format('truetype'), url('../fonts/PlumbMedium/Plumb-Medium.svg#Plumb-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'PlumbRegular';
  src: url('../fonts/PlumbRegular/Plumb-Regular.eot');
  src: url('../fonts/PlumbRegular/Plumb-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PlumbRegular/Plumb-Regular.woff2') format('woff2'), url('../fonts/PlumbRegular/Plumb-Regular.woff') format('woff'), url('../fonts/PlumbRegular/Plumb-Regular.ttf') format('truetype'), url('../fonts/PlumbRegular/Plumb-Regular.svg#Plumb-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PlumbLight';
  src: url('../fonts/PlumbLight/Plumb-Light.eot');
  src: url('../fonts/PlumbLight/Plumb-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/PlumbLight/Plumb-Light.woff2') format('woff2'), url('../fonts/PlumbLight/Plumb-Light.woff') format('woff'), url('../fonts/PlumbLight/Plumb-Light.ttf') format('truetype'), url('../fonts/PlumbLight/Plumb-Light.svg#Plumb-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
.plumb-black {
  font-family: 'PlumbBlack', sans-serif;
}
.plumb-bold {
  font-family: 'PlumbBold', sans-serif;
}
.plumb-light {
  font-family: 'PlumbLight', sans-serif;
}
.plumb-medium {
  font-family: 'PlumbMedium', sans-serif;
}
.plumb-regular {
  font-family: 'PlumbRegular', sans-serif;
}
* {
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: 'PlumbLight', sans-serif;
  font-size: 23px;
  color: #ffffff;
  background-color: #22283f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  content: 'mobile';
  display: none;
}
.cd-section {
  height: 100vh;
}
.cd-section.started h1:before,
.cd-section.started h2:before {
  height: 100%;
  -webkit-transition-delay: 1.5s;
  -moz-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
  -webkit-transition: all 2.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: all 2.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: all 2.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 2.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.cd-section.started h1:after,
.cd-section.started h2:after {
  width: 148px;
  -webkit-transition-delay: 1.75s;
  -moz-transition-delay: 1.75s;
  -o-transition-delay: 1.75s;
  transition-delay: 1.75s;
  -webkit-transition: all 2s cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: all 2s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: all 2s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.cd-section.started h1 > span:after,
.cd-section.started h2 > span:after {
  width: 100%;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
  -webkit-transition: all 3.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: all 3.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: all 3.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 3.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.cd-section > div {
  position: absolute;
  height: 100vh;
}
.cd-section > div .cd-section--first__wrapper,
.cd-section > div:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #01364f;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 50;
}
.cd-section > div:before {
  content: '';
}
.cd-section video {
  position: fixed;
  top: 0;
  left: 50%;
  min-width: 100%;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background-size: cover;
  transition: 1s opacity;
}
.cd-section h1 {
  display: inline-block;
  font-size: 65px;
  padding: 10px 87px 42px 0;
}
.cd-section h1:before {
  right: 110px;
}
.cd-section h1 > span {
  display: inline-block;
}
.cd-section h1 > span > span {
  font-family: 'PlumbBold', sans-serif;
}
.cd-section h2 {
  display: block;
  font-family: 'PlumbMedium', sans-serif;
  font-size: 45px;
  padding: 10px 40px 42px 0;
}
.cd-section h2:before {
  right: 90px;
}
.cd-section h2 > span {
  display: block;
}
.cd-section h1,
.cd-section h2 {
  position: relative;
  text-transform: uppercase;
  font-family: 'PlumbMedium', sans-serif;
}
.cd-section h1:before,
.cd-section h2:before {
  position: absolute;
  top: 0;
  width: 3px;
  height: 0;
  content: '';
  background: white;
  z-index: 10;
  -webkit-transition-delay: 10s;
  -moz-transition-delay: 10s;
  -o-transition-delay: 10s;
  transition-delay: 10s;
  -webkit-transition: all 5.3s ease-out;
  -moz-transition: all 5.3s ease-out;
  -o-transition: all 5.3s ease-out;
  transition: all 5.3s ease-out;
}
.cd-section h1:after,
.cd-section h2:after {
  position: absolute;
  right: 0;
  bottom: 26px;
  height: 2px;
  width: 0;
  content: '';
  background: white;
}
.cd-section h1 > span,
.cd-section h2 > span {
  position: relative;
  padding: 0 38px 12px 0;
  font-family: 'PlumbMedium', sans-serif;
}
.cd-section h1 > span:after,
.cd-section h2 > span:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #ffc734;
  content: '';
}
.cd-section h1 > span > span,
.cd-section h2 > span > span {
  display: inline-block;
  color: #ffc734;
  white-space: nowrap;
}
.cd-section .step--development-plus video {
  background: url('../images/screen-1.jpg') no-repeat;
}
.cd-section .step--development video {
  background: url('../images/screen-2.jpg') no-repeat;
}
.cd-section .step--numbers video {
  background: url('../images/screen-3.jpg') no-repeat;
}
.cd-section .step--directions video {
  background: url('../images/screen-4.jpg') no-repeat;
}
.cd-section .step--contacts video {
  background: url('../images/screen-5.jpg') no-repeat;
}
.cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../images/cd-icon-arrow.svg) no-repeat center center;
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.22s ease-out;
  -moz-transition: all 0.22s ease-out;
  -o-transition: all 0.22s ease-out;
  transition: all 0.22s ease-out;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  -webkit-transition: all 0.22s ease-out;
  -moz-transition: all 0.22s ease-out;
  -o-transition: all 0.22s ease-out;
  transition: all 0.22s ease-out;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 38px 75px 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.header.scrolled,
.header.opened {
  background-color: #053954;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.header__logo {
  float: left;
}
.header__navigation {
  margin-top: 13px;
  float: right;
}
.header__navigation ul li {
  display: inline-block;
  font-size: 23px;
  margin: 0 50px;
  font-family: 'PlumbLight', sans-serif;
}
.header__navigation ul li:last-child {
  margin-right: 0;
}
.header__navigation ul li a:hover,
.header__navigation ul li a:active,
.header__navigation ul li a:focus {
  color: #ffc734;
}
.header__navigation-mobile {
  position: fixed;
  top: 20px;
  right: 15px;
  cursor: pointer;
  display: none;
  padding-top: 9px;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
  border: 1px transparent solid;
}
.header__navigation-mobile span {
  display: block;
  width: 28px;
  height: 4px;
  background-color: #ffffff;
  margin: 0 auto 6px;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.header__navigation-mobile span:last-child {
  margin-bottom: 0;
}
.header__navigation-mobile.opened {
  border-color: #ffffff;
}
.header__navigation-mobile.opened span {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  height: 1px;
}
.header__navigation-mobile.opened span:first-child {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 12px;
}
.header__navigation-mobile.opened span:nth-child(2) {
  display: none;
}
.header__navigation-mobile.opened span:last-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 5px;
}
.footer {
  position: fixed;
  right: 75px;
  bottom: 65px;
  z-index: 1000;
}
.step {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 60;
}
.step--development-plus .step__left-part {
  width: 100%;
}
.step--contacts .step__left-part,
.step--contacts .step__right-part {
  width: 50%;
  margin-top: 40px;
}
.step--contacts .contacts-item a:hover,
.step--contacts .contacts-item a:active,
.step--contacts .contacts-item a:focus {
  color: #ffc734;
}
.step--contacts .contacts-item--address {
  height: 275px;
}
.step--contacts .contacts-item--email {
  height: 145px;
}
.step--contacts .contacts-item--phone {
  height: 420px;
  position: relative;
}
.step--contacts .contacts-item--socials {
  position: absolute;
  bottom: 0;
  left: 0 ;
}
.step--contacts .contacts-item--socials .socials {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('../images/socials-icons.png') no-repeat;
  margin-right: 40px;
}
.step--contacts .contacts-item--socials .socials:last-child {
  margin-right: 0;
}
.step--contacts .contacts-item--socials .socials--vk {
  background-position: 0 0;
}
.step--contacts .contacts-item--socials .socials--fb {
  background-position: -30px 0;
}
.step--contacts .contacts-item--socials .socials--ig {
  background-position: -60px 0;
}
.step--contacts .contacts-item--socials .socials--tw {
  background-position: -90px 0;
}
.step--contacts .contacts-item__description {
  position: relative;
  padding-left: 80px;
  font-family: 'PlumbLight', sans-serif;
  line-height: 31px;
}
.step--contacts .contacts-item__description:before {
  content: '';
  width: 52px;
  height: 52px;
  background: url('../images/contacts-icons.png') no-repeat;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}
.step--contacts .contacts-item__description--address:before {
  background-position: -104px 0;
}
.step--contacts .contacts-item__description--email:before {
  background-position: -52px 0;
}
.step--contacts .contacts-item__description--phone a {
  display: table;
}
.step--contacts .contacts-item__description--phone a:first-child {
  margin-bottom: 5px;
}
.step--contacts .contacts-item__description--phone:before {
  background-position: 0 0;
}
.step__left-part,
.step__right-part {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50%;
}
.step__left-part {
  padding: 0 30px 0 75px;
  float: left;
}
.step__right-part {
  padding: 0 75px 0 30px;
  float: right;
}
.step__button {
  font-family: 'PlumbLight', sans-serif;
  font-size: 23px;
  color: #ffffff;
  display: table;
  height: 44px;
  line-height: 44px;
  border: 1px #ffffff solid;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 70px;
}
.step__button:hover,
.step__button:active,
.step__button:focus {
  background-color: rgba(255, 255, 255, 0.4);
}
.step__content {
  display: none;
  text-align: center;
}
.step__content .step-content__item {
  margin-bottom: 40px;
}
.step__content .step-content__item:last-child {
  margin-bottom: 0;
}
.step__table--numbers tbody tr {
  /*&:first-child {
						td { padding-top: 0; }
					}
					&:last-child {
						td { padding-bottom: 0; }
					}*/
}
.step__table--numbers tbody tr td {
  vertical-align: middle;
  padding: 25px 0;
}
.step__table--numbers tbody tr td.icon {
  text-align: center;
  padding-right: 20px;
}
.step__table--numbers tbody tr td.title {
  padding-right: 30px;
}
.step__table--numbers tbody tr td:first-child {
  position: relative;
}
.step__table--numbers tbody tr td:first-child:after {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  left: 0;
  bottom: 0;
  content: '';
  position: absolute;
}
.step__table--numbers tbody tr td:last-child {
  white-space: nowrap;
}
.step__table--numbers tbody tr td:last-child > span {
  position: relative;
}
.step__table--numbers tbody tr td:last-child > span:after {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  left: 0;
  bottom: -30px;
  content: '';
  position: absolute;
}
.step__table--numbers .odometer {
  font-size: 65px;
}
@media only screen and (max-width: 849px) {
  .step--directions .step__table--numbers tbody tr td {
    padding: 15px 0;
  }
  .step--contacts .contacts-item--address,
  .step--contacts .contacts-item--email,
  .step--contacts .contacts-item--phone {
    height: auto;
    margin-bottom: 60px;
  }
  .step--contacts .contacts-item--socials {
    position: relative;
    bottom: initial;
    left: initial;
    display: table;
    margin: 60px auto;
  }
  .step--contacts .contacts-item__description {
    display: table;
    margin: 0;
  }
  .step__left-part,
  .step__right-part {
    float: none;
    position: relative;
    top: initial;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    width: 100% !important;
  }
  .step__button {
    margin: 20px 0 30px;
  }
  .step__table--numbers tbody tr td {
    padding: 5px 0;
  }
}
@media only screen and (min-width: 850px) {
  body::before {
    content: 'desktop';
  }
  body[data-hijacking="on"] {
    overflow: hidden;
  }
  body[data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  body[data-hijacking="on"] .cd-section > div {
    position: absolute;
    visibility: visible;
  }
  .cd-vertical-nav {
    display: block;
  }
  .cd-section {
    /*h2 {
			font-size: 4rem;
			font-weight: 300;
		}*/
  }
  .cd-section:first-of-type > div::before {
    display: none;
  }
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-animation="rotate"] .cd-section {
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
  }
  [data-animation="rotate"] .cd-section > div {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
  [data-hijacking="off"] .cd-section > div {
    opacity: 0;
  }
  [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
    -webkit-perspective-origin: center 0;
    -moz-perspective-origin: center 0;
    perspective-origin: center 0;
  }
  [data-animation="scaleDown"] .cd-section > div {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
  }
  [data-animation="gallery"] .cd-section > div {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
  }
  [data-animation="catch"] .cd-section > div {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
  }
  [data-animation="opacity"] .cd-section.visible > div {
    z-index: 1;
  }
}
@media only screen and (max-width: 1366px) {
  body {
    font-size: 18px;
  }
  .header__navigation ul li {
    font-size: 18px;
  }
  .step__button {
    font-size: 18px;
  }
  .step__table--numbers tbody tr td {
    padding: 15px 0;
  }
  .step__table--numbers tbody tr td:last-child > span:after {
    bottom: -19px;
  }
  .step__table--numbers .odometer {
    font-size: 50px;
  }
  .cd-section h1 {
    font-size: 50px;
  }
  .cd-section h2 {
    font-size: 35px;
  }
  .cd-section h2:before {
    right: 55px;
  }
  .cd-section h1:after {
    right: 50px;
  }
}
@media only screen and (max-width: 1315px) {
  .cd-section h2 {
    padding-right: 0;
  }
  .cd-section h2:before {
    right: 30px;
  }
}
@media only screen and (max-width: 1270px) {
  .step--development .step__left-part,
  .step--directions .step__left-part,
  .step--development .step__right-part,
  .step--directions .step__right-part {
    width: 50%;
  }
  .step--numbers .step__table--numbers tr td:first-child {
    padding-right: 20px;
  }
  .step__table--numbers br {
    display: none;
  }
}
@media only screen and (max-width: 1170px) {
  .step h1,
  .step h2 {
    padding-right: 35px;
  }
  .step h1:before,
  .step h2:before {
    right: 50px;
  }
  .step h1:after,
  .step h2:after {
    display: none;
  }
  .step__table {
    font-size: 16px;
  }
  .step--contacts .contacts-item__description br {
    display: none;
  }
}
@media only screen and (max-width: 1100px) {
  .cd-section h1 {
    font-size: 34px;
  }
  .cd-section h2 {
    font-size: 28px;
    padding-right: 0;
  }
  .cd-section h2:before {
    right: 5px;
  }
  .header__navigation ul li {
    margin: 0 20px;
  }
  .step--contacts .contacts-item__description {
    line-height: 24px;
  }
}
@media only screen and (max-width: 849px) {
  body {
    background: url('../images/bg.jpg') center no-repeat fixed;
    background-size: cover;
  }
  .cd-section {
    height: initial;
    margin: 120px 0 60px;
  }
  .cd-section--first__wrapper:before {
    display: none;
  }
  .cd-section video {
    display: none;
  }
  .cd-section > div {
    width: 100%;
    height: initial;
    position: initial;
  }
  .cd-section > div:before {
    display: none;
  }
  .cd-section h1,
  .cd-section h2 {
    font-size: 30px;
    max-width: 100%;
    line-height: 38px;
    font-family: 'PlumbLight', sans-serif;
    padding-bottom: 15px;
    margin-bottom: 45px;
  }
  .cd-section h1:before,
  .cd-section h2:before {
    width: 1px;
  }
  .cd-section h1 > span,
  .cd-section h2 > span {
    font-family: 'PlumbLight', sans-serif;
  }
  .cd-section h1 > span:after,
  .cd-section h2 > span:after {
    height: 1px;
  }
  .cd-section h1 > span > span,
  .cd-section h2 > span > span {
    white-space: initial;
    font-family: 'PlumbMedium', sans-serif;
  }
  .cd-section h2 {
    display: inline-block;
  }
  .header {
    padding: 20px 0 0;
  }
  .header__logo {
    position: relative;
    left: 20px;
    margin-bottom: 10px;
  }
  .header__navigation {
    float: none;
    clear: both;
    margin: 0;
    background-color: #053954;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    display: none;
    height: 100vh;
  }
  .header__navigation ul li {
    display: block;
    margin: 0;
  }
  .header__navigation ul li:last-child a {
    border-bottom: none;
  }
  .header__navigation ul li a {
    display: block;
    font-size: 20px;
    border-bottom: 1px #517586 dashed;
    padding: 25px 0 25px 20px;
    text-align: left;
    position: relative;
  }
  .header__navigation ul li a:hover:before,
  .header__navigation ul li a:hover:after {
    -webkit-transition: all 0.22s ease-out;
    -moz-transition: all 0.22s ease-out;
    -o-transition: all 0.22s ease-out;
    transition: all 0.22s ease-out;
  }
  .header__navigation ul li a:hover:before {
    border-color: #ffc734;
  }
  .header__navigation ul li a:hover:after {
    background-color: #ffc734;
    box-shadow: 0px 0px 21px 13px rgba(255, 199, 52, 0.55);
  }
  .header__navigation ul li a:before,
  .header__navigation ul li a:after {
    content: '';
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.22s ease-out;
    -moz-transition: all 0.22s ease-out;
    -o-transition: all 0.22s ease-out;
    transition: all 0.22s ease-out;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .header__navigation ul li a:before {
    width: 17px;
    height: 17px;
    border: 1px #ffffff solid;
    right: 20px;
  }
  .header__navigation ul li a:after {
    width: 9px;
    height: 9px;
    background-color: #ffffff;
    right: 24px;
  }
  .header__navigation-mobile {
    display: block;
  }
  .footer {
    position: relative;
    float: right;
    bottom: 30px;
    right: 20px;
  }
  .step--contacts .contacts-item__description--phone a:first-child {
    margin: 0;
  }
  .step__left-part,
  .step__right-part {
    padding: 0 20px;
  }
  .step__right-part > table {
    display: none;
  }
  .step__content {
    display: block;
    font-size: 15px;
  }
  .step__content .step-content__item p:first-child {
    margin-bottom: 5px;
  }
  .step__content .step-content__item p.digits {
    color: #ffc734;
    font-family: 'PlumbMedium', sans-serif;
    margin: 5px 0 15px;
    font-size: 30px;
  }
  .step__content .odometer {
    font-size: 30px;
  }
  .step__button {
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
  }
}
@media only screen and (max-width: 389px) {
  .step--development h1:before {
    right: 16px;
  }
}